body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

#mainContainer {
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

#logoutContainer {
    width: 220px;
    height: 120px;
    border-radius: 10px;
    background: #dfdfdf;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.logoutButtons {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin: 10px;
}